.main{
    grid-template-columns: repeat(12, 1fr);
    background-color: var(--color-page-bg);
    margin: 0;
    padding: 0;
}

.sections {
    grid-column: span 12;
    /* min-height: 230px; */
    margin: 0; 
    padding: 0;
}

.section__content {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 2rem;
    height: auto;
}

#education, #contactMe{
    background-color: var(--color-card-bg);
}


.section__title {
  padding: 1rem;
  text-align: center;
  grid-column: span 12;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--section__title__color); /* A color that stands out */
  text-transform: uppercase; /* Stylistic choice to make the title stand out */
}

.about__me {
    padding: 1rem 10rem;
    line-height: 2rem;
}
.education p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    flex-wrap: wrap;
    padding: 1rem 10rem;
}

.school__name {
    font-weight: bold; /* Makes the school name bold */
}

.school__name::after {
    content: '\00a0\00a0';
}
.school__location,
.school__enrollment {
  color: var(--education__color);
  padding-left: 0.5rem;
}

.major {
  color: var(--education__color);;
  margin-top: 0.5rem;
  font-style: italic;
  width: 100%; /* Takes the full width to ensure it is on the next line */
  padding-top: 0.5rem;
}
/* Add a new class for the location to keep it with the school name */
.school__location {
    margin-right: 1rem; /* Adds some space before the enrollment dates */
    white-space: nowrap; /* Prevents wrapping to a new line */
}

.school__enrollment {
    font-style: italic;
    margin-left: auto;
    white-space: nowrap;
}
  
.skill__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* Creates as many columns as can fit without being too narrow */
  gap: 1rem; /* Space between items both vertically and horizontally */
  justify-content: center; /* Centers the grid items in the container when there's extra space */
  padding: 0; /* Resets the padding */
  list-style-type: none; /* Removes the default list styling */
  max-width: 1000px; /* Maximum width of the grid */
  margin: 0 auto; /* Centers the grid in the section */
}
  
  .skill__list li {
    background-color: #f5f5f5; /* Gives a subtle background to each item */
    border-radius: 0.5rem; /* Rounds the corners of each item */
    padding: 0.5rem 1rem; /* Padding inside each item */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    transition: transform 0.2s; /* Smooth transition for hover effect */
  }
  
  .skill__list li:hover {
    transform: translateY(-5px); /* Slightly raise the item on hover */
    box-shadow: 0 4px 10px rgba(0,0,0,0.2); /* Increase shadow on hover for effect */
  }

  .contact__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust to two columns */
    gap: 1rem; /* Space between grid items */
    justify-items: center; /* Center align grid items horizontally */
    align-items: center; /* Center align grid items vertically */
    padding: 0;
    list-style: none;
    margin: 0 auto;
    max-width: 1000px; /* Set a max width for the contact list */
  }
  
  .contact__list div {
    display: flex;
    align-items: center; /* Center the items vertically */
    justify-content: center; /* Center the items horizontally */
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 100%; /* Make sure each contact item takes the full width */
    max-width: 350px; /* Set a max-width for larger screens */
    margin: 0.5rem; /* Add some margin around each item */
  }
  
  .contact__list a, .location__address{
    color: var(--font__color); /* Link color that stands out */
    text-decoration: none; /* No underlines for cleaner look */
    margin-left: 0.5rem; /* Spacing between icon and text */
    font-weight: bold; /* Make the link text bold */
    transition: color 0.3s ease; /* Smooth color transition for hover effect */
  }

  .contact__list a:hover {
    color: #0056b3; /* Darker color on hover for interaction feedback */
  }
  
  .contact__list img {
    width: 24px; /* Set a fixed size for icons */
    height: 24px;
  }

  .contact_button {
    display: inline-block; /* Allows us to set dimensions */
  padding: 1rem 2rem; /* Spacious padding for better clickability */
  background-color: #007bff; /* Use a distinctive color for action items */
  color: white; /* Text color that contrasts well with the button color */
  text-transform: uppercase; /* Stylistic choice for CTA buttons */
  font-weight: bold; /* Makes the text stand out */
  font-size: 1.2rem; /* Large enough to be easily readable */
  border-radius: 5px; /* Rounded corners for a modern look */
  text-align: center; /* Center the text within the button */
  cursor: pointer; /* Change the mouse pointer to signify it's clickable */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition for hover effects */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Subtle shadow to lift the button off the page */
  border: none; /* Remove the border for a flat design */
  text-decoration: none; /* Remove text decoration in case it's a link */
  margin-top: 1rem;
  }

  .contact_button:hover, .contact_button:focus {
    background-color: #0056b3; /* Darker shade when hovered or focused for interaction feedback */
    transform: translateY(-2px); /* Slightly raise the button when hovered or focused */
    outline: none; /* Remove outline when focused (should be handled with custom styles for accessibility) */
  }
  
  /* Ensuring the CTA is centered within its container */
  .contact_me_container {
    text-align: center; /* Center-align the child elements */
    margin-top: 2rem; /* Space above the container */
  }
  
  
  @media (max-width: 70rem) {
    body {
      font-size: 0.9rem; /* 减小字体大小 */
    }

    .about__me, .education p {
      padding: 1rem; /* Reduced padding on smaller screens */
      height: auto;
    }

    .skill__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr); 
      gap: 1rem;
      padding: 0;
      list-style-type: none;
      justify-content: center;
      align-items: center;
    }

    .school__enrollment {
      /* flex-direction: column; */
      text-align: left; /* Align text to the left for better readability */
      margin: 0;
      padding-top: 0;
      padding-left: 0;
    }
  }



  @media (max-width: 50rem) {
    .contact__list {
      grid-template-columns: repeat(2, 1fr); /* Reduce the number of columns for contact details */
      max-width: none; /* Allow the grid to take full width of the screen */
    }
  
    .school__enrollment {
      /* flex-direction: column; */
      text-align: left; /* Align text to the left for better readability */
      margin: 0;
      padding-top: 0.5rem;
      padding-left: 0.5rem;
    }

    .school__name {
      padding-left: 0.5rem;
    }
  
    .contact_button {
      padding: 0.8rem 1.5rem; /* Slightly reduce button size for smaller screens */
    }

    .major {
      padding-top: 0;
      padding-left: 1.5rem;
    }
  }
  
